{% extends 'main.twig' %}

{% block title %}Login | {{ parent() }}{% endblock %}

{% block page %}
    {% include 'common/breadcrumbs.twig' with {
        'title': 'Login'
    } %}

    <!-- Start Account Area -->
    <div class="account-login section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                    <form class="card login-form" method="post">
                        <div class="card-body">
                            <div class="title">
                                <h3>Login Now</h3>
                                <p>You can login using your social media account or email address.</p>
                            </div>

                            {% if identifier == 'email' %}
                                {% include 'mixin/form.twig' with {
                                    'label': 'E-Mail',
                                    'type': 'email',
                                    'name': 'email',
                                } %}
                            {% elseif identifier == 'username' %}
                                {% include 'mixin/form.twig' with {
                                    'label': 'Username',
                                    'type': 'text',
                                    'name': 'username',
                                } %}
                            {% else %}
                                {% include 'mixin/form.twig' with {
                                    'label': 'Phone',
                                    'type': 'tel',
                                    'name': 'phone',
                                } %}
                            {% endif %}

                            {% include 'mixin/form.twig' with {
                                'label': 'Password',
                                'type': 'password',
                                'name': 'password',
                            } %}

                            <div class="button">
                                <button class="btn" type="submit">Login</button>
                            </div>
                            <p class="outer-link">Don't have an account? <a href="/user/register">Register here</a></p>

                            {% if oauth|count %}
                                <div class="alt-option">
                                    <span>Or</span>
                                </div>

                                {% for item in oauth %}
                                    {{ item.getButton|raw }}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Account Area -->
{% endblock %}
